<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <title>vue-boolzapp</title>
</head>

<body>
    <header>
    </header>
    <main>
        <section id="app">
            <div class="page">
                <div class="sideBar">
                    <div class="userBar">
                        <div class="user">
                            <img class="headerPic" src="./img/avatar_io.jpg" alt="user_pic">
                            <p>Sofia</p>
                        </div>
                        <div class="icons">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>


                    </div>
                    <div class="notificationSettings d-flex">
                        <div class="notificationBell">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div class="notificationInfo">
                            <p>ricevi notifiche di nuovi messaggi</p>
                            <p class="link">attiva notifiche desktop</p>
                        </div>
                    </div>
                    <div class="contactSrc">
                        <button><i class="fa-solid fa-magnifying-glass"></i></button>
                        <input class="search" type="text" placeholder="Cerca o inizia una nuova chat">
                    </div>
                    <div class="contacts">
                        <ul class="contact">
                            <li v-for="(contact, index) in contacts" :key="index" @click="selectContact(index)"
                                class="contact-item">
                                <img :src="contact.avatar + '.jpg'" alt="contact_avatar" class="contact-avatar">
                                <div class="contact-info">
                                    <p class="contact-name">{{contact.name}}</p>
                                    <p class="contact-last-message lightText">Ultimo messaggio inviato</p>
                                </div>

                            </li>
                        </ul>
                    </div>

                </div>
                <div class="chatSide" v-if="activeContact">
                    <div class="contactBar d-flex">
                        <div class="chatContact d-flex">
                            <img class="headerPic" :src="activeContact.avatar + '.jpg'" alt="user_pic">
                            <div class="contact_info">
                                <p>
                                    {{activeContact.name}}
                                </p>
                                <p class="lightText">
                                    Ultimo accesso oggi alle 12:00
                                </p>
                            </div>

                        </div>
                        <div class="icons">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>

                    </div>
                    <div class="messages">
                        <div v-for="message in activeContact.messages" :key="message.date"
                            :class="{'rightMsg': message.status === 'sent', 'leftMsg': message.status === 'received'}"
                            class="d-flex">
                            <div class="sentMsg" v-if="message.status === 'sent'">
                                <p>{{message.message}}</p>
                            </div>
                            <div class="recievedMsg" v-else>
                                <p>{{ message.message }}</p>
                            </div>
                        </div>

                    </div>
                    <div class="inputsBar d-flex">
                        <i class="fa-regular fa-face-smile"></i>
                        <input type="text" class="input-chat" placeholder="Scrivi un messaggio">
                        <i class="fa-solid fa-microphone"></i>
                    </div>

                </div>

            </div>

            </div>
            </div>
        </section>
    </main>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./JS/script.js"></script>

</body>

</html>