*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

i{
    cursor: pointer;
}

.lightText{
    color: rgb(177, 177, 177);
    font-size: .80rem;
}

.d-flex{
    display: flex;
}

.z-index{
    z-index: 2;
}

header{
    height: 150px;
    width: 100%;
    background-color: rgb(0, 150, 136);
}

div.page{
    box-shadow: 2px 2px 5px rgb(116, 116, 116)
}

main{
    background-color: rgb(217, 219, 213);
}

img.headerPic{
    height: 45px;
    border-radius: 50%;
    margin: .5rem;
}

div.notificationSettings{
    align-items: center;
    padding: .5rem 1rem;
}

div.notificationBell{
    background-color: white;
    padding: .66rem;
    border-radius: 50%;
    color: rgb(142, 218, 252);
    font-size: 1rem;
}

.notificationInfo{
    margin-left: .66rem;
}

p.link{
    color: grey;
    font-size: .77rem;
    text-decoration: underline;
}

div.contactSrc{
    border: none;
    border-radius: 100px;
    padding-left: 1rem;
}

div.contactSrc > button{
    border: none;
    width: 15%;
    color: rgb(177, 177, 177);
    border-right: solid 1px rgb(206, 202, 202);
}

input.search{
    border: none;
    padding-left: 1rem;
}

div.contact-info{
    padding: .33rem .5rem;
}

div.contact-info p.contact-last-message{
    color: rgb(177, 177, 177);
}

.contact-item{
    display: flex;
    padding: .5rem;
    border: solid 1px #cecaca67;
    
}

.contact-item:hover{
    background-color: rgb(236, 236, 236);
    cursor: pointer;
}

img.contact-avatar{
    height: 60px;
    border-radius: 50%;
    margin-right: .5rem;
    margin: .2rem;
}

div.page{
    position: relative;
    bottom: 120px;
    width: 80%;
    height: 900px;
    margin: 0 auto;
    min-width: 1120px;
    display: flex;
}

div.userBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.icons i{
    margin-right: .66rem;
    color: rgb(177, 177, 177);
    padding: .33rem;
    font-size: 1.33rem;
}

div.user{
    display: flex;
    align-items: center;
}

div.sideBar{
    width: 40%;
    height: 100%;
    border-right: solid 1px rgb(206, 202, 202);

}

input.search{
    width: 100%;
    height: 100%;
    border: none;

}

div.contacts{
    background-color: white;
    height: 715px;
    overflow-y: visible;
}

ul.contact{
    height: 70px;
}

div.notificationSettings{
    height: 70px;
    background-color: rgb(142, 218, 252);
}

div.userBar,
div.contactBar{
    height: 70px;
    background-color: rgb(225, 225, 225);
}

div.contactSrc{
    height: 45px;
    background-color: rgb(225, 225, 225);
    padding: .33rem;
    display: flex;
}

div.contactSrc > button{
    border-right: 1px solid rgb(73, 73, 73);
    padding: .33rem;
    background-color: white;
}

div.inputsBar{
    height: 70px;
    background-color: rgb(243, 238, 234);
}

div.chatSide{
    width: 60%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.emptyChat{
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: underline;
    font-style: italic;
    color: rgb(0, 150, 136);
    margin: 8rem auto;
}

div.contactBar{
    align-items: center;
    justify-content: space-between;
}

div.contact_info{
    margin: .66rem ;
}

div.messages{
    background-image: url(../img/mine.jpg);
    height: 100%;
    padding: 3rem 4rem;
}

.leftMsg,
.rightMsg{
    width: 100%;
    height: 60px;
    margin-top: 1rem;
    align-items: center;
}

.rightMsg{
    justify-content: end;
}

div.sentMsg,
div.recievedMsg{
    display: inline-block;
    word-wrap: break-word;
    min-height: 60px;
    width: 40%;
    border-radius: 15px;
    align-items: center;
    padding: 1rem; 
    box-shadow: 2px 2px 5px rgb(116, 116, 116)
}

div.sentMsg{
    background-color: rgb(213, 249, 186);
}

div.recievedMsg{
    background-color: white;
}

div.inputsBar{
    height: 75px;
    background-color: rgb(243, 238, 234);
    width: 100%;
    align-items: center;
    padding: .2rem 2rem;
    font-size: 1.5rem;
    color: rgb(114, 114, 114);
}

input.input-chat{
    width: 100%;
    margin: 0 1.5rem;
    border-radius: 5px;
    border: none;
    height: 2.5rem;
    padding: 1rem;
}