*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 150px;
    width: 100%;
    background-color: rgb(0, 150, 136);
}

div.page{
    position: relative;
    bottom: 120px;
    width: 80%;
    height: 900px;
    border: solid 2px tomato;
    margin: 0 auto;
    min-width: 1120px;
    display: flex;
}

div.sideBar{
    width: 30%;
    height: 100%;
    border: solid 2px tomato;
}

div.notificationSettings{
    height: 70px;
    background-color: rgb(142, 218, 252);
}
div.userBar,
div.contactBar{
    height: 70px;
    background-color: rgb(225, 225, 225);
}

div.contactSrc{
    height: 45px;
    background-color: rgb(225, 225, 225);
}

div.inputsBar{
    height: 70px;
    background-color: rgb(243, 238, 234);
}

div.chat{
    width: 70%;
    height: 100%;
    border: solid 2px tomato;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
