*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}

header{
    height: 150px;
    width: 100%;
    background-color: rgb(0, 150, 136);
}

main{
    background-color: rgb(217, 219, 213);
}

img.headerPic{
    height: 45px;
    border-radius: 50%;
    margin: .5rem;
}

div.contact-info{
    padding: .33rem .5rem;
}

div.contact-info p.contact-last-message{
    color: rgb(177, 177, 177);
}

.contact-item{
    display: flex;
    padding: .5rem;
    border: solid 1px #cecaca67;
}

img.contact-avatar{
    height: 60px;
    border-radius: 50%;
    margin-right: .5rem;
    margin: .2rem;
}

div.page{
    position: relative;
    bottom: 120px;
    width: 80%;
    height: 900px;
    margin: 0 auto;
    min-width: 1120px;
    display: flex;
}

div.userBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.icons i{
    margin-right: .5rem;
    color: rgb(177, 177, 177)
}

div.user{
    display: flex;
    align-items: center;
}

div.sideBar{
    width: 30%;
    height: 100%;
    border-right: solid 1px rgb(206, 202, 202);
}

input.search{
    width: 100%;
    height: 100%;
    border: none;

}

div.contacts{
    background-color: white;
    height: 715px;
}

ul.contact{
    height: 70px;
    border-top: solid 1px rgb(73, 73, 73);
    /* opacity: 20%; */
}

div.notificationSettings{
    height: 70px;
    background-color: rgb(142, 218, 252);
}

div.userBar,
div.contactBar{
    height: 70px;
    background-color: rgb(225, 225, 225);
}

div.contactSrc{
    height: 45px;
    background-color: rgb(225, 225, 225);
    padding: .33rem;
    display: flex;
}

div.contactSrc > button{
    border-right: 1px solid rgb(73, 73, 73);
    padding: .33rem;
    background-color: white;
}

div.inputsBar{
    height: 70px;
    background-color: rgb(243, 238, 234);
}

div.chatSide{
    width: 70%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.messages{
    background-image: url(../img/mine.jpg);
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
}

div.sentMsg,
div.recievedMsg{
    height: 55px;
    width: 30%;
    border-radius: 15px;
}

div.sentMsg{
    background-color: rgb(213, 249, 186);
}

div.recievedMsg{
    background-color: white;
}